**/_drafts
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/classes
**/packages
**/.metadata
**/.recommenders
**/RemoteSystemsTempFiles
**/.externalToolBuilders
**/.settings
**/Office
Laboratory/api/LeadChina.Laboratory.Infrastrue/appsettings.json
Laboratory/web/package.json
/Laboratory/MyVue
/CCDMonitor/LeadChina.CCDMonitor.Web/cameral_shara_1
/CCDMonitor/LeadChina.CCDMonitor.Web/Log
/CCDMonitor/LeadChina.CCDMonitor.Web/Upload/Survey
/bash.exe.stackdump
/CCDMonitor/LeadChina.CCDMonitor.Web/js/app/custom1.js
/Laboratory/api/LeadChina.Laboratory.Api/Upload
/WeiXin/Api.WeiXin.LeadChina/Api.WeiXin.LeadChina/Log
/api/LeadChina.Laboratory.Api/Upload
