<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    <section name="Log" type="Kingdee.CAPP.Common.Logger.LogHandler,Kingdee.CAPP.Common"/>
  </configSections>
  <!--<dataConfiguration defaultDatabase="CAPP" />-->
  <connectionStrings>
    <add name="CAPP" connectionString="Data Source=10.50.71.42;Initial Catalog=CAPP;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <Log level="Debug">
    <LogFile>log.log</LogFile>
    <ShowHeader>True</ShowHeader>
  </Log>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
