@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/rotate.css")">
    <style>
        .bottom-container {
            text-align: center;
        }
    </style>
}
<div class='content panContent' style="zoom:0.9;">
    <canvas id='canvasOut3' class='canvasOut3' width="600" height="600"></canvas>
    <canvas id='canvasOut2' class='canvasOut2' width="570" height="570"></canvas>
    <div class='canvasOut1' id='rotate'>
        <canvas id="canvasOut1" class='canvasOut1' width="550" height="550"></canvas>
    </div>
    <img class='start' src='@Url.Content("~/Resource/point2.jpg")'
         style="width:90px;height:232px;margin-top:125px" />
    <div class="bottom-container ctrl-container">
        <button type="button" class="btn btn-control" style="margin-right:0px">开&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;始</button>
    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/rotate.js")"></script>
    <script>
        $(function () {
            // 阴影页删除导航条
            $('.navbar-fixed-bottom').remove();
            $('.navControl').remove();

            var app = window.app;

            var Lottey = new app.lottery({
                canvasOut1: document.getElementById('canvasOut1'),
                canvasOut2: document.getElementById('canvasOut2'),
                canvasOut3: document.getElementById('canvasOut3')
            });
            var colors = ["#fbae27", "#f9be34"];
            var text = ["电研1组", "电研2组", "电研3组", "电研4组", "电研5组", "电研6组", "电研7组"
                , "电研助理组", "电研标准化组", "电研通用组"];
            Lottey.init(text.length, colors, text, 0);

            var isProcess = false;
            $('.btn-control').click(function () {
                if (isProcess) {
                    isProcess = false;
                    window.parent.app.stopLottery();
                    window.parent.$('iframe').hide();
                    clearInterval(Lottey.mytime);
                    $('.btn-control').text('开始');
                    $('#rotate').removeClass('rotationX');
                } else {
                    isProcess = true;
                    // 获取随机桌号
                    window.parent.app.getRandomDesk();
                    // 转到指定中间角度
                    window.parent.app.getTempDesk();
                    // 开始闪烁
                    Lottey.mytime = setInterval(Lottey.getCanvasOut2.bind(Lottey), 200);
                    $('.btn-control').html('停&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;止');
                    $('#rotate').addClass('rotationX');
                }
            });
        });
    </script>
}